.root {
    flex-grow: 1;
}
.bg {
    background-color: "white";
}

.bar {
  justify-content: "space-between";
  align-items: "center";
}

.logo {
  padding-top: 12;
  opacity: 0.6;
}

.icons {
  color: rgba(179, 179, 179, 1);
}